<app-first-navbar></app-first-navbar>

<div class="main-about-container">
  <div class="introduce-about-us">
    <div class="big-word">
      <p id="upper-content">About Us</p>
      <p id="lower-content">BRIDGE</p>
    </div>
    <div class="slogan-container">
      <p id="slogan-content">CREATE CONNECTION</p>
    </div>
  </div>

  <div class="about-page-main-contents">
    <div class="photo-container">
      <img
        id="photo"
        src="https://s3-alpha-sig.figma.com/img/7fe2/b561/d511ad0778f6e46fab6bd76460a7dab8?Expires=1693180800&Signature=NxCYifYJ-ou1awVnRiNhxUkqe4zJ87-e7umTxUQeI6IsXxiOuwG7mrWXMPqUsw6g2kaWzidQ-S~-vAImA6LNpbfo-isQdw6YSW7ygnBR4BnggP7klQ~8dJPqqMP53IEv1uxUJodKwAXhmAqEsrAicfvBJx~AOmsxTWqj8gPq1U1obYDMbBT-cuHMq7SjoJhm5q6TDx-DZ4QEGheD7vbj-HAZtYGpx-6hvjhDIo0p65UnVB2D9IhBmRqnz56FziprvFttgtMxF6xN0cHwABDb6hgatOBcTxZTljJHcHQ1zl7KS3wQIUKyfFJhGzuckUkKgpahu33dMpidNOX1Md~xNw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
      />
    </div>

    <div class="contents-container">
      <div class="container-fact">
        <p id="title-fact">Our Fact</p>
        <p id="content-fact">
          Recently established in 2023, our logo is stand for connections as the
          bridge’s main purpose in life as it’s the way to easily access in
          managing workflow in customer relationship.
        </p>
      </div>

      <div class="container-vision">
        <p id="title-vision">Our Vision</p>
        <p id="content-vision">
          Improve the business relationships, helps companies stay connected to
          customers, streamline processes, and improve profitability.
        </p>
      </div>

      <div class="container-approach">
        <p id="title-approach">Our Approach</p>
        <p id="content-approach">
          Our main target is to create a platform for either small ang big
          business, easy to create and to develop the main functions of customer
          relationship management.
        </p>
      </div>
    </div>
  </div>
</div>
